<div class="member">
    <div class="left">
        <a [routerLink]="['list']">Lazy List</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="right">
        <router-outlet name="lazyright"></router-outlet>
    </div>
</div>
<div class="text">
    <br/>
    The Lazy Member code is a copy of Member.
    <br/>
    It is an attempt to implement the Member module as a lazy loaded module.
    <br/>
    But it seems that named router outlet does not work for lazy loaded modules.
</div>