<div class="container">
    <table>
        <tr *ngFor="let member of members">
            <td>{{member.name}}</td>
            <td>
                <a [routerLink]="['/home/lazymember', {outlets: {right: ['edit', member.id]}}]">Edit works - No, no longer</a>
            </td>
            <td>
                <a [routerLink]="[{outlets: {lazyright: ['edit', member.id]}}]">Don't work</a>
            </td>
            <td>
                <a [routerLink]="['../', {outlets: {lazyright: ['edit', member.id]}}]">Works first time - No, no longer</a>
            </td>
        </tr>

    </table>
</div>
